@media only screen and (max-width:600px){
    .header{
        height: auto;
        width: 100%;
        background-color: var(--primary-color);
        font-family: sans-serif;
        position: relative;
    }
    nav{
        width: 84%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        position: sticky;
        top: 5px;
        /* bottom: 100000px; */
        cursor: pointer;
        width: 10%;
        margin: 00px 0px;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        background: #ff004f;
        border-radius: 10px;
    }
    .logo span{
        color: #000;
    }
    .img-box{
        width: 30%;
        height: 60%;
        position: absolute;
        bottom: 0;
        right: 100px;
    }
    .img-box img{
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    
    .img-box:hover .back-img{
        bottom: 40px;
    }
    .img-box:hover .main-img{
        left: 54%;
    }
    .info{
        margin-left: 8%;
        margin-top: 15%;
    }
    .info h1{
        font-size: 15px;
        color: var(--secondary-color);
        margin-bottom: 20px; 
    }
    .info p{
        font-size: 30%;
        color: var(--secondary-color);
    }
}
@media only screen and (max-width:600px){
    .p{
        font-size: 40px;
        margin-left: 25px;
    }
    .p1{
        font-size: 20px;
        padding-left: 20px;
        color: #fff;
        margin-left: -100px;
    }
    .kid1{
        /* border: 2px solid yellow; */
    
        padding: 60px 80px 60px 120px;
        margin-left: 20px;
        margin-right: 50px;
        background-color: #22040e;
        border-radius: 10px;
        width: 150px;
        height: 200px;
    
    }
}
@media only screen and (max-width:600px){
    .kid2{
        margin-left: 20px;
        margin-right: 100px;
        background-color:#22040e;
        border-radius: 10px;
        display: flex;
        text-decoration: none;
        padding: 30px 80px 40px 70px;
        position: relative;
        top: -80px;
    }
    .kid2 li{
        padding-top: 5px;
    }
    .d{
        border: 2px solid green;
        margin-left: 15px;
        margin-right: 400px;
        display: flex;
        justify-content: center;
        font-size: 60px;
        font-weight: 30px;
        padding: 10px 60px 80px 100px;
        color: black;
    }
    .li{
        font-size: 20px;
        color: #fff;
        margin-left: -100px;
        margin-bottom: 15px;
    }
}
