:root{
    --color1: #1c4644;
    --color2: #fff; 
}


*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: "poopins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
background:#1c4644;
}
/* #circle{
    width: 200px;
    height: 200px;
    background: #ff004f;
    border-radius: 50%;
    margin-top: 20px;
    margin:auto;
} */

.container{
      padding: 10px 10%; 
}
.z{
    margin-left: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    position: sticky;
    top: 10px;
    /* bottom: 100000px; */

    width: 100%;
    margin: 00px 0px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    background: #ff004f;
    border-radius: 10px;
}
.logo span{
    color: #000;
}
.z{
    margin-left: 30px;
    padding-top: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 70px;
    padding: 0%;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width:0%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s ;
}
nav ul li a:hover::after{
    width: 100%;
}
.center{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #fff;
}
.wrapper{
    display: inline flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 80px;
    font-weight: 400px;
}
.wrapper .dynamic-txts{

}
.dynamic-txts li{
    list-style: none;
    font-size: 60px;
    font-weight: 300;
    border: 2px solid greenyellow;
    margin-left: 120px;
    margin-top: 0;
    
}
/* .img{
    background-image: url(../images/Ellipse\ 1.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
} */
#about{
    /* border:2px solid yellow ; */
    padding-left: 50px;
    margin-bottom: 120px;
    margin-top: 60px;
    display: flex;
    justify-content:center;
    margin-left:-700px;
}
.p{
    font-size: 100px;
}
.p1{
    font-size: 30px;
    padding-left: 20px;
    color: #fff;
}
.kid1{
    /* border: 2px solid yellow; */

    padding: 60px 60px 80px 100px;
    margin-left: 140px;
    margin-right: 320px;
    background-color: #22040e;
    border-radius: 10px;

}
#skills{
    border: 2px solid green;
    padding-left: 50px;
    margin-bottom: 80px;
    margin-top: 60px;
    display: flex;
    justify-content:center;
    margin-left:-700px;
}
.kid2{
    margin-left: 140px;
    margin-right: 320px;
    background-color:#22040e;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    padding: 60px 60px 80px 100px;
}
.d{
    margin-left: -400px;
    margin-right: 320px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-left: 20px;
    padding: 60px 60px 80px 100px;
    color: #fff;
}
.li{
    font-size: 40px;
    color: #fff;
}

.header-text h1{
    font-size: 30px;
    margin-top: 20px; 
}
.header-text h1 span{
    color:#ff004f;
}
.Ellipse{
    /* border: 2px solid green; */
    display: flex;
    justify-content:right;
    flex-wrap: wrap;     
    position:absolute;
    /* float:right; */
    margin-left:1300px ;
    margin-top: -50px;      
}
/* ---------about-me-------- */
#about{
    padding: 80px o;
    color: rgb(255, 255, 255);
    margin-top: 200px;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-col-1{
    width: 100%;
    height:300px;
    border-radius: 15px;
    flex-basis: 35%;
    flex-basis: 60%;
    background:#ff004f;
}

.sub-title{
    font-size: 100px;
    font-weight: 600;
    color: rgb(255, 253, 253);
}
.tab-titles{
     display:flex;
     margin:40px 0 0px;
}
.tab-links{
    margin-right: 100px;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
     content: "";
     width:0;
     height:3px;
     background: #ff004f;
     position: absolute;
     left: 0;
     bottom:-8px;
     transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
/* ----------SKILLS---------------- */
#skills{
    padding: 80px o;
    color: rgb(253, 253, 253);
    margin-top: 280px;
}
.row-sk{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1-sk{
    width: 100%;
    height:300px;
    border-radius: 15px;
    flex-basis: 35%;
    flex-basis: 60%;
    background:#ff004f;
}
.sub-title-sk{
    font-size: 100px;
    font-weight: 600;
    color: #ff004f;
}
/* --------------PORTIFOLIO--------- */
#portifolio{
    padding: 50px 0;
    }
.sub-title{
    font-size: 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr
    ));
    grid: gap 40px;
    margin-top: 80px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5;
}
.layer{
    width: 95%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#3f808b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center; 
    transition: height 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* ------------------contact---------- */
.contact-left{
    flex-basis: 35%;
    margin-top: 60PX;
}
.contact-right{
    flex-basis:65%;
    margin-top: 140px;
}
.contact-left p{
    margin-top:30px;
    color: #fff;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transfrom 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    background: #ff004f;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
contact-right{
    width: 100%;
}
form input, form textarea{
    margin-top: 80PX;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
-----------
